/* Cascadia Code */

@font-face {
  font-family: "Cascadia Code";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Italic.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Bold.woff2') format('woff2');
}

/* Cabin */

@font-face {
  font-family: "Cabin";
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Cabin/Cabin.ttf') format('truetype');
}
@font-face {
  font-family: "Cabin";
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Cabin/Cabin-Italic.ttf') format('truetype');
}

/* Averia Serif */

@font-face {
  font-family: "Averia Serif";
  font-style: normal;
  font-display: swap;
  src: url('/fonts/AveriaSerif/AveriaSerifGWF-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Averia Serif";
  font-style: italic;
  font-display: swap;
  src: url('/fonts/AveriaSerif/AveriaSerifGWF-BoldItalic.ttf') format('truetype');
}