/* Cascadia Code */

@font-face {
  font-family: "Cascadia Code";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Italic.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-BoldItalic.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Regular.woff2') format('woff2');
}
@font-face {
  font-family: "Cascadia Code";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/CascadiaCode/CascadiaCode-Bold.woff2') format('woff2');
}

/* Arvo */

@font-face {
  font-family: "Arvo";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Arvo/Arvo-Regular.ttf') format('truetype');
}
@font-face {
  font-family: "Arvo";
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Arvo/Arvo-Italic.ttf') format('truetype');
}
@font-face {
  font-family: "Arvo";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: url('/fonts/Arvo/Arvo-Bold.ttf') format('truetype');
}
@font-face {
  font-family: "Arvo";
  font-weight: 700;
  font-style: italic;
  font-display: swap;
  src: url('/fonts/Arvo/Arvo-BoldItalic.ttf') format('truetype');
}
